<div class="sidebar-backdrop" *ngIf="isOpen" (click)="closeSidebar()"></div>

<div class="sidebar" [class.open]="isOpen">
    <div class="close-btn" (click)="closeSidebar()">X</div>
    <nav class="sidebar-links">
        <a href="#home" (click)="closeSidebar()">Home</a>
        <a href="#about" (click)="closeSidebar()">About</a>
        <a href="#services" (click)="closeSidebar()">Services</a>
        <a href="#projects" (click)="closeSidebar()">Our Work</a>
        <a href="#testimonial" (click)="closeSidebar()">Client Reviews</a>
        <a href="#contact" (click)="closeSidebar()">Contact</a>
    </nav>
</div>