<section id="home" class="hero">
  <div class="hero-content">
    <!-- <div class="hero-image">
      <img src="assets/images/ssbuildslogo.png" alt="Web Design Image" />
    </div> -->
    <div class="hero-text">
      <h1>"We Code. We Create. We’re Committed 365 Days!"</h1>
      <p>We Build Your Dream</p>
      <button class="cta-btn">Get a Free Quote</button>
    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <h2>About Us</h2>

    <div class="about-content">
      <img src="assets/images/ssbuildslogo.png" alt="About SS Builds365" class="about-image" />

      <p>SS Builds365 is a modern web development brand founded in 2025 with a simple yet powerful mission to build stunning, high-performing websites that help your business grow. The name "365" isn’t just a number — it reflects our promise to be there for our clients 365 days a year, offering consistent support, smart solutions, and a creative mindset that never sleeps. Whether you're a startup, a growing brand, or a personal project, SS Builds 365 is your dedicated partner in turning your online vision into a digital reality every single day.</p>
    </div>

  </div>
</section>

<section id="services" class="services">
  <div class="container">
    <h2>Our Services</h2>
    <div class="service-grid">
      <div class="card">
        <h3>Website Design</h3>
        <p>Clean, modern UI that attracts customers.</p>
      </div>
      <div class="card">
        <h3>Web Development</h3>
        <p>High-quality code with performance optimization.</p>
      </div>
      <div class="card">
        <h3>SEO & Analytics</h3>
        <p>Rank higher on Google with on-page SEO and tracking.</p>
      </div>
    </div>
  </div>
</section>

<section id="projects" class="projects">
  <div class="container">
    <h2>Our Work</h2>
    <div class="project-gallery">
      <app-our-work></app-our-work>
    </div>
    
  </div>
</section>


<section id="testimonial" class="testimonials">
  <div class="container">
    <h2>What Clients Say</h2>
    <div class="testimonial">
      <p>"Amazing work! My site loads fast and looks stunning. Highly recommend!"</p>
      <h4>- Rahul Mehta</h4>
    </div>
  </div>
</section>

<section id="contact" class="contact-cta">
  <h2>Let’s Work Together</h2>
  <p>Tell us about your project — we’ll get back within 24 hours.</p>
  <button class="cta-btn">Contact Us</button>
</section>
