section {
  padding: 4rem 1rem;
  text-align: center;
  background-size: cover;
  
}

.hero {
//   background: linear-gradient(to right, #8a8484, #050505);
  color: #ffffff;
  padding: 6rem 1rem; // pehle 4 tha, ab 6 kiya
  min-height: 50vh; // kam se kam puri window ki 80% height le
  background-image: url('/assets/images/home3.jpg'); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .hero-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

    .hero-text {
      max-width: 600px;

      h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      .cta-btn {
        background-color: red;
        color: #ffffff;
        padding: 0.8rem 2rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: darkred;
        }
      }
    }
  }

  // phone pe
  @media (max-width: 767px) {
    padding: 2rem 1rem;
    background-position: center top;

    .hero-content {
      flex-direction: column;

      .hero-text {
        h1 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }

  
}

.container {
  max-width: 1200px;
  margin: auto;
}
.about {
  padding: 100px 40px;
  background: #faf9f9;
  box-shadow: 0 4px 10px rgba(68, 67, 67, 0.9);
}

.about .about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

h2 {
  font-size: 2.6rem;
  color: #312c2c;
}

.about .about-content .about-image {
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(8, 8, 8, 1.9);
}

.about .about-content p {
  color: #312c2c;
  font-size: 1.3rem;
  max-width: 600px;
}

/* Responsive for small screens */
@media (max-width: 767px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.services{
  background-image: url('/assets/images/services.jpg'); 
  background-size: cover;
  box-shadow: 0 4px 10px rgba(6, 5, 5, 0.9);

}

.service-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  

  .card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    h3 {
      margin-bottom: 0.5rem;
    }
  }
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(68, 67, 67, 0.9);

  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
}



.testimonial {
  max-width: 700px;
  margin: auto;
  font-style: italic;

  h4 {
    margin-top: 1rem;
    font-weight: bold;
  }
}

.contact-cta {
  background-color: #111;
  background-image: url('/assets/images/contact.jpg'); 
  background-size: cover;
  color: white;
  padding: 4rem 1rem;
  box-shadow: 0 4px 10px rgba(35, 33, 33, 0.9);
  
  .cta-btn {
    background-color: red;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: darkred;
    }
  }
}
